.media-invisible {
    display: none;
}

@media screen and (max-width: 780px) {

    /*INDEX*/

    .hero {
        background-image: url(../img/Mediacropped/DjC.jpg);

        .main, .main-lorem {
            display: block;
            justify-content: center;
            padding: 1rem;
        }
    
        .main-texto {        
            padding: 1rem;
            padding-top: 125px;
        }
    }    

    /*EVENTOS*/

    .hero-eventos {
        background-image: url(../img/Mediacropped/RedEsp.jpg);

        .evento-titulo {
            padding-top: 80px;

            .evento-lorem {
                padding: 1rem;
            }
        }

        .fecha-eventos {
            padding-top: 130px;
        }
    }    
    
    /*DJS*/
    
    .djs-titulo {
        padding-top: 80px;
    }

    /*NOSOTROS*/

    .hero-nosotros {
        background-image: url(../img/Mediacropped/Consola.jpg);
        background-position: right;
        color: #ffffff;

        .nosotros-titulo {
            padding-top: 80px;
        }
    
        .nosotros-lorem {
            width: auto;
            box-shadow: none; 
    
        }
    }    

    /*CONTACTO*/

    .hero-contacto {
        background-image: url(../img/Mediacropped/EricPrydzBW.jpg);
        background-position: center;

        .contacto-titulo {
            padding-top: 80px;
        }
    }

    /*NR*/

    .media-invisible {
        display: block;
    }

    .media {
        display: none;
    }
    
}